.copyright{
    background-color:#102039;
}
.copyright .subscribe{
    padding: 29px 0px;
}
.copyright .subscribe .col-lg-7 h2{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}
.copyright .subscribe .col-lg-3 input{
    height: 36px;
    width: 100%;
}
.copyright .subscribe .col-lg-2 button{
    padding: 4px;
    background: #EA1826;
    border: none;
    color: #fff;
    font-size: 19px;
}
  .last-copy{
    color: #fff;
  }
  .last-copy  .col-lg-3 p{
    font-size: 16px;
    padding: 2px 0px 0px 0px;
    font-weight: 600;
}
  .last-copy  .col-lg-3 span{
    font-size: 19px;
    padding: 25px 0px 0px 0px;
    font-weight: 600;
  }
  .last-copy  .col-lg-3 h3{
    font-size: 30px;
    font-weight: 600;
    padding: 3px 0px 14px 0px;
}
.last-copy  .col-lg-3 .img-box{

}
.last-copy  .col-lg-3 .img-box img{
    border-radius: 44px;
}
.last-copy  .col-lg-3 .img-box .icon{
    padding: 0px 0px 0px 18px;
}
.last-copy  .col-lg-3 .img-box .icon i {
    padding: 0px 9px;
    color: #EA1826;
}

.last-copy  .col-lg-3 ul li{
    padding: 6px 0px;
}
.last-copy  .col-lg-3 ul li a{
    color: #fff;
    font-size: 20px;
}

.last-copy .last-items{
    width: 90%;
  }

.last-copy .last-items img{
    padding: 5px 5px;
}
.copyright  .My-last-copy{

  }
.copyright  .My-last-copy h2{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

























































